body {
    font-family: "roboto", sans-serif ;
}

#destacados img {
    height: 161px; 
}

#color-fondo  {
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: black;
    text-align: center;
    font-size: 30px;
}

p{
    text-align:justify;
}

.color-negro {
    background-color:black;
}
.color-fondo-sec {
    background-color:cornflowerblue
}